
table{
	width: 90%;
	border: 2px solid black;
	border-spacing: 0px;
}
th{
	text-align: left;
	border-bottom: 2px solid black;
	border-left: 2px solid black;
}
thead th:nth-child(1){
	border-left: 0px;
}
td{
	border-bottom: 2px solid black;
	border-left: 2px solid black;
}
tbody td:nth-child(1){
	border-left: 0px;
}
.lasttd td{
	border-bottom: 0px;
}